@page
@model HotelWebsite.Pages.RoomInfoModel
@{
}
<h1>Room Info</h1>
<div>
    <div class="room-container">
    <h1>@Model.SelectedRoom.RoomNumber</h1>
    <h1>@Model.SelectedRoom.RoomType</h1>
    @if (Model.SelectedRoom.HasBalcony)
    {
        <h3>This room has a balcony!</h3>
    }
        <p>Cost of room per day: @Model.SelectedRoom.PricePerDay</p>
    </div>
    <div>
        @if (Model.SelectedRoom.IsVacant)
        {
            <h2>This room is available to book for $@Model.SelectedRoom.PricePerDay per day.</h2>
            <label for="numberDays">Number of days you want to book</label><br>
            <form asp-page-handler="Calculate" method="post" asp-route-room="@Model.SelectedRoom.RoomNumber">
                <input type="number" asp-for="DaysBooked"/>
                <input type="number" asp-for="SelectedRoom.RoomNumber" hidden/>
                <button type="submit" id="CalculateBtn">Calculate price</button>
            </form>

            <label id="totalPrice" asp-for="TotalCost">Total cost: $@Model.TotalCost</label>
            <div>
                <label for="bookInName">Insert lastname of the person that the room is booked in and number of days</label><br>

                <form asp-page-handler="BookRoom" method="post">
                    <input type="text" id="bookInName" asp-for="BookingName" />
                    <input type="number" asp-for="SelectedRoom.RoomNumber" hidden />
                    <input type="number" asp-for="DaysBooked" />

                    <button type="submit" id="BookBtn">Book this room</button>
                </form>

            </div>
        }
        else if (!Model.SelectedRoom.IsVacant)
        {
            <p>This room has been booked by: @Model.SelectedRoom.PersonWhoBooked</p>
            <p>The room has been booked for @Model.SelectedRoom.BookedDaysLeft more days.</p>
        }
    </div>
    
</>